<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,624}</string>
                <key>spriteSourceSize</key>
                <string>{624,624}</string>
                <key>textureRect</key>
                <string>{{780,1},{624,624}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>624 624 0 624 0 0 624 0</string>
                <key>verticesUV</key>
                <string>1404 625 780 625 780 1 1404 1</string>
            </dict>
            <key>button_home_normal@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{434,324}</string>
                <key>spriteSourceSize</key>
                <string>{512,384}</string>
                <key>textureRect</key>
                <string>{{780,627},{434,324}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 7 8 5 6 7 3 5 7 3 4 5 2 3 8 0 1 2 0 2 8</string>
                <key>vertices</key>
                <string>481 100 481 316 429 354 108 353 75 320 47 263 47 66 101 30 425 30</string>
                <key>verticesUV</key>
                <string>1214 697 1214 913 1162 951 841 950 808 917 780 860 780 663 834 627 1158 627</string>
            </dict>
            <key>button_home_selected@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0.5}</string>
                <key>spriteSize</key>
                <string>{422,293}</string>
                <key>spriteSourceSize</key>
                <string>{512,384}</string>
                <key>textureRect</key>
                <string>{{778,1248},{422,293}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 6 7 4 5 6 3 4 6 2 3 6 0 1 2 0 2 7</string>
                <key>vertices</key>
                <string>469 98 465 300 413 338 92 337 47 292 47 82 101 46 424 45</string>
                <key>verticesUV</key>
                <string>1200 1301 1196 1503 1144 1541 823 1540 778 1495 778 1285 832 1249 1155 1248</string>
            </dict>
            <key>button_ok_normal@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{434,324}</string>
                <key>spriteSourceSize</key>
                <string>{512,384}</string>
                <key>textureRect</key>
                <string>{{1,1118},{434,324}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 7 8 5 6 7 3 5 7 3 4 5 2 3 8 0 1 2 0 2 8</string>
                <key>vertices</key>
                <string>481 100 481 316 429 354 108 353 75 320 47 263 47 66 101 30 425 30</string>
                <key>verticesUV</key>
                <string>435 1188 435 1404 383 1442 62 1441 29 1408 1 1351 1 1154 55 1118 379 1118</string>
            </dict>
            <key>button_ok_selected@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0.5}</string>
                <key>spriteSize</key>
                <string>{422,293}</string>
                <key>spriteSourceSize</key>
                <string>{512,384}</string>
                <key>textureRect</key>
                <string>{{1211,948},{422,293}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 6 7 4 5 6 3 4 6 2 3 6 0 1 2 0 2 7</string>
                <key>vertices</key>
                <string>469 98 465 300 413 338 92 337 47 292 47 82 101 46 424 45</string>
                <key>verticesUV</key>
                <string>1633 1001 1629 1203 1577 1241 1256 1240 1211 1195 1211 985 1265 949 1588 948</string>
            </dict>
            <key>button_score_normal@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{434,324}</string>
                <key>spriteSourceSize</key>
                <string>{512,384}</string>
                <key>textureRect</key>
                <string>{{1,792},{434,324}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 7 8 5 6 7 3 5 7 3 4 5 2 3 8 0 1 2 0 2 8</string>
                <key>vertices</key>
                <string>481 100 481 316 429 354 108 353 75 320 47 263 47 66 101 30 425 30</string>
                <key>verticesUV</key>
                <string>435 862 435 1078 383 1116 62 1115 29 1082 1 1025 1 828 55 792 379 792</string>
            </dict>
            <key>button_score_selected@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0.5}</string>
                <key>spriteSize</key>
                <string>{422,293}</string>
                <key>spriteSourceSize</key>
                <string>{512,384}</string>
                <key>textureRect</key>
                <string>{{787,953},{422,293}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 6 7 4 5 6 3 4 6 2 3 6 0 1 2 0 2 7</string>
                <key>vertices</key>
                <string>469 98 465 300 413 338 92 337 47 292 47 82 101 46 424 45</string>
                <key>verticesUV</key>
                <string>1209 1006 1205 1208 1153 1246 832 1245 787 1200 787 990 841 954 1164 953</string>
            </dict>
            <key>button_share_normal@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{434,324}</string>
                <key>spriteSourceSize</key>
                <string>{512,384}</string>
                <key>textureRect</key>
                <string>{{1406,327},{434,324}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 7 8 5 6 7 3 5 7 3 4 5 2 3 8 0 1 2 0 2 8</string>
                <key>vertices</key>
                <string>481 100 481 316 429 354 108 353 75 320 47 263 47 66 101 30 425 30</string>
                <key>verticesUV</key>
                <string>1840 397 1840 613 1788 651 1467 650 1434 617 1406 560 1406 363 1460 327 1784 327</string>
            </dict>
            <key>button_share_selected@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0.5}</string>
                <key>spriteSize</key>
                <string>{422,293}</string>
                <key>spriteSourceSize</key>
                <string>{512,384}</string>
                <key>textureRect</key>
                <string>{{1216,653},{422,293}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 6 7 4 5 6 3 4 6 2 3 6 0 1 2 0 2 7</string>
                <key>vertices</key>
                <string>469 98 465 300 413 338 92 337 47 292 47 82 101 46 424 45</string>
                <key>verticesUV</key>
                <string>1638 706 1634 908 1582 946 1261 945 1216 900 1216 690 1270 654 1593 653</string>
            </dict>
            <key>button_start_normal@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{434,324}</string>
                <key>spriteSourceSize</key>
                <string>{512,384}</string>
                <key>textureRect</key>
                <string>{{1406,1},{434,324}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 7 8 5 6 7 3 5 7 3 4 5 2 3 8 0 1 2 0 2 8</string>
                <key>vertices</key>
                <string>481 100 481 316 429 354 108 353 75 320 47 263 47 66 101 30 425 30</string>
                <key>verticesUV</key>
                <string>1840 71 1840 287 1788 325 1467 324 1434 291 1406 234 1406 37 1460 1 1784 1</string>
            </dict>
            <key>button_start_selected@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0.5}</string>
                <key>spriteSize</key>
                <string>{422,293}</string>
                <key>spriteSourceSize</key>
                <string>{512,384}</string>
                <key>textureRect</key>
                <string>{{1,1444},{422,293}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 6 7 4 5 6 3 4 6 2 3 6 0 1 2 0 2 7</string>
                <key>vertices</key>
                <string>469 98 465 300 413 338 92 337 47 292 47 82 101 46 424 45</string>
                <key>verticesUV</key>
                <string>423 1497 419 1699 367 1737 46 1736 1 1691 1 1481 55 1445 378 1444</string>
            </dict>
            <key>divingBoard@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2.5}</string>
                <key>spriteSize</key>
                <string>{304,299}</string>
                <key>spriteSourceSize</key>
                <string>{304,304}</string>
                <key>textureRect</key>
                <string>{{437,793},{304,299}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 4 5 0 1 3 1 2 3 0 3 5</string>
                <key>vertices</key>
                <string>304 53 304 304 0 304 0 55 34 7 264 5</string>
                <key>verticesUV</key>
                <string>741 841 741 1092 437 1092 437 843 471 795 701 793</string>
            </dict>
            <key>exit_normal@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7.5,-7.5}</string>
                <key>spriteSize</key>
                <string>{211,213}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1415,1243},{211,213}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 6 7 4 5 6 0 4 6 2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>241 88 241 214 197 242 70 241 31 184 30 57 72 31 199 29</string>
                <key>verticesUV</key>
                <string>1626 1302 1626 1428 1582 1456 1455 1455 1416 1398 1415 1271 1457 1245 1584 1243</string>
            </dict>
            <key>exit_selected@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,0.5}</string>
                <key>spriteSize</key>
                <string>{199,195}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1628,1288},{199,195}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 6 7 4 5 6 4 6 0 2 3 4 0 1 2 4 0 2</string>
                <key>vertices</key>
                <string>229 78 225 199 182 225 57 225 30 180 30 57 72 30 197 30</string>
                <key>verticesUV</key>
                <string>1827 1336 1823 1457 1780 1483 1655 1483 1628 1438 1628 1315 1670 1288 1795 1288</string>
            </dict>
            <key>grid_button_normal_0@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,162}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1527,1485},{162,162}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>185 185 23 185 23 23 185 23</string>
                <key>verticesUV</key>
                <string>1689 1647 1527 1647 1527 1485 1689 1485</string>
            </dict>
            <key>grid_button_normal_1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,162}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{707,1543},{162,162}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>185 185 23 185 23 23 185 23</string>
                <key>verticesUV</key>
                <string>869 1705 707 1705 707 1543 869 1543</string>
            </dict>
            <key>grid_button_normal_2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,162}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{871,1543},{162,162}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>185 185 23 185 23 23 185 23</string>
                <key>verticesUV</key>
                <string>1033 1705 871 1705 871 1543 1033 1543</string>
            </dict>
            <key>grid_button_normal_3@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,162}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1035,1543},{162,162}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>185 185 23 185 23 23 185 23</string>
                <key>verticesUV</key>
                <string>1197 1705 1035 1705 1035 1543 1197 1543</string>
            </dict>
            <key>grid_button_normal_4@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,162}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1363,1458},{162,162}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>185 185 23 185 23 23 185 23</string>
                <key>verticesUV</key>
                <string>1525 1620 1363 1620 1363 1458 1525 1458</string>
            </dict>
            <key>grid_button_normal_5@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,162}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1199,1458},{162,162}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>185 185 23 185 23 23 185 23</string>
                <key>verticesUV</key>
                <string>1361 1620 1199 1620 1199 1458 1361 1458</string>
            </dict>
            <key>grid_button_selected_0@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{162,154}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{707,1707},{162,154}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>185 185 23 185 23 31 185 31</string>
                <key>verticesUV</key>
                <string>869 1861 707 1861 707 1707 869 1707</string>
            </dict>
            <key>grid_button_selected_1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{162,154}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{543,1656},{162,154}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>185 185 23 185 23 31 185 31</string>
                <key>verticesUV</key>
                <string>705 1810 543 1810 543 1656 705 1656</string>
            </dict>
            <key>grid_button_selected_2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{162,154}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1527,1649},{162,154}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>185 185 23 185 23 31 185 31</string>
                <key>verticesUV</key>
                <string>1689 1803 1527 1803 1527 1649 1689 1649</string>
            </dict>
            <key>grid_button_selected_3@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{162,154}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1691,1641},{162,154}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>185 185 23 185 23 31 185 31</string>
                <key>verticesUV</key>
                <string>1853 1795 1691 1795 1691 1641 1853 1641</string>
            </dict>
            <key>grid_button_selected_4@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{162,154}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1199,1622},{162,154}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>185 185 23 185 23 31 185 31</string>
                <key>verticesUV</key>
                <string>1361 1776 1199 1776 1199 1622 1361 1622</string>
            </dict>
            <key>grid_button_selected_5@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{162,154}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1691,1485},{162,154}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>185 185 23 185 23 31 185 31</string>
                <key>verticesUV</key>
                <string>1853 1639 1691 1639 1691 1485 1853 1485</string>
            </dict>
            <key>grid_down_0001@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51.5,-75}</string>
                <key>spriteSize</key>
                <string>{105,58}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{431,1454},{105,58}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>105 188 105 208 0 208 0 151 93 150</string>
                <key>verticesUV</key>
                <string>536 1492 536 1512 431 1512 431 1455 524 1454</string>
            </dict>
            <key>grid_down_0010@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49.5,-74.5}</string>
                <key>spriteSize</key>
                <string>{109,59}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1,1843},{109,59}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 1 2 4 0 1 4</string>
                <key>vertices</key>
                <string>208 151 208 208 99 208 106 170 133 149</string>
                <key>verticesUV</key>
                <string>110 1845 110 1902 1 1902 8 1864 35 1843</string>
            </dict>
            <key>grid_down_0011@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-75.5}</string>
                <key>spriteSize</key>
                <string>{208,57}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{211,1739},{208,57}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>208 208 0 208 0 151 208 151</string>
                <key>verticesUV</key>
                <string>419 1796 211 1796 211 1739 419 1739</string>
            </dict>
            <key>grid_down_0100@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51.5,51.5}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{211,1798},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 2 4 0 1 2</string>
                <key>vertices</key>
                <string>208 105 119 105 103 71 103 0 208 0</string>
                <key>verticesUV</key>
                <string>316 1903 227 1903 211 1869 211 1798 316 1798</string>
            </dict>
            <key>grid_down_0110@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51.5,0}</string>
                <key>spriteSize</key>
                <string>{105,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{647,1304},{105,208}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>208 208 103 208 103 0 208 0</string>
                <key>verticesUV</key>
                <string>752 1512 647 1512 647 1304 752 1304</string>
            </dict>
            <key>grid_down_0111@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1634,1078},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 5 6 0 4 6 1 2 3 0 1 3 0 3 4 8 9 10 7 8 10 12 13 14 11 12 14</string>
                <key>vertices</key>
                <string>208 208 0 208 0 151 82 140 101 112 103 0 208 0 42 2 39 2 39 0 42 0 2 2 0 2 0 0 2 0</string>
                <key>verticesUV</key>
                <string>1842 1286 1634 1286 1634 1229 1716 1218 1735 1190 1737 1078 1842 1078 1676 1080 1673 1080 1673 1078 1676 1078 1636 1080 1634 1080 1634 1078 1636 1078</string>
            </dict>
            <key>grid_down_1000@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51.5,51.5}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{600,1812},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 3 4 1 2 3 0 1 4</string>
                <key>vertices</key>
                <string>105 89 71 105 0 105 0 0 105 0</string>
                <key>verticesUV</key>
                <string>705 1901 671 1917 600 1917 600 1812 705 1812</string>
            </dict>
            <key>grid_down_1001@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51.5,0}</string>
                <key>spriteSize</key>
                <string>{105,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{647,1094},{105,208}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>105 208 0 208 0 0 105 0</string>
                <key>verticesUV</key>
                <string>752 1302 647 1302 647 1094 752 1094</string>
            </dict>
            <key>grid_down_1011@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1637,868},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 5 6 1 2 3 1 3 4 0 1 4 0 4 5 8 9 10 7 8 10</string>
                <key>vertices</key>
                <string>109 118 136 145 208 151 208 208 0 208 0 0 105 0 170 2 167 2 167 0 170 0</string>
                <key>verticesUV</key>
                <string>1746 986 1773 1013 1845 1019 1845 1076 1637 1076 1637 868 1742 868 1807 870 1804 870 1804 868 1807 868</string>
            </dict>
            <key>grid_down_1100@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,51.5}</string>
                <key>spriteSize</key>
                <string>{208,105}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{871,1707},{208,105}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>208 105 0 105 0 0 208 0</string>
                <key>verticesUV</key>
                <string>1079 1812 871 1812 871 1707 1079 1707</string>
            </dict>
            <key>grid_down_1101@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{425,1514},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 5 6 2 3 4 2 4 5 1 2 5 0 1 6</string>
                <key>vertices</key>
                <string>208 105 141 113 111 146 105 208 0 208 0 0 208 0</string>
                <key>verticesUV</key>
                <string>633 1619 566 1627 536 1660 530 1722 425 1722 425 1514 633 1514</string>
            </dict>
            <key>grid_down_1110@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{437,1304},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 5 6 3 4 5 2 3 6 0 2 6 0 1 2</string>
                <key>vertices</key>
                <string>208 208 103 208 97 146 62 111 0 105 0 0 208 0</string>
                <key>verticesUV</key>
                <string>645 1512 540 1512 534 1450 499 1415 437 1409 437 1304 645 1304</string>
            </dict>
            <key>grid_down_1111@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{437,1094},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>208 208 0 208 0 0 208 0</string>
                <key>verticesUV</key>
                <string>645 1302 437 1302 437 1094 645 1094</string>
            </dict>
            <key>grid_up_0001@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-39.5}</string>
                <key>spriteSize</key>
                <string>{132,129}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1393,1622},{132,129}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 6 7 4 5 6 0 3 4 1 2 3 0 1 3 0 4 7</string>
                <key>vertices</key>
                <string>132 121 129 208 103 208 95 177 70 157 0 153 0 79 88 79</string>
                <key>verticesUV</key>
                <string>1525 1664 1522 1751 1496 1751 1488 1720 1463 1700 1393 1696 1393 1622 1481 1622</string>
            </dict>
            <key>grid_up_0010@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-39.5}</string>
                <key>spriteSize</key>
                <string>{130,129}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1360,1738},{130,129}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 5 6 4 1 3 1 2 3 4 5 1 0 1 5</string>
                <key>vertices</key>
                <string>208 153 126 164 105 208 78 208 78 121 120 79 208 79</string>
                <key>verticesUV</key>
                <string>1490 1812 1408 1823 1387 1867 1360 1867 1360 1780 1402 1738 1490 1738</string>
            </dict>
            <key>grid_up_0011@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{208,74}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1,1739},{208,74}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>208 153 0 153 0 79 208 79</string>
                <key>verticesUV</key>
                <string>209 1813 1 1813 1 1739 209 1739</string>
            </dict>
            <key>grid_up_0100@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39.5,39.5}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1492,1753},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 6 7 0 4 5 1 2 3 1 3 4 0 1 4 0 5 6</string>
                <key>vertices</key>
                <string>115 81 137 99 208 103 208 129 120 129 79 88 79 0 105 0</string>
                <key>verticesUV</key>
                <string>1528 1834 1550 1852 1621 1856 1621 1882 1533 1882 1492 1841 1492 1753 1518 1753</string>
            </dict>
            <key>grid_up_0110@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{26,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{743,863},{26,208}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>105 208 79 208 79 0 105 0</string>
                <key>verticesUV</key>
                <string>769 1071 743 1071 743 863 769 863</string>
            </dict>
            <key>grid_up_0111@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51.5,27.5}</string>
                <key>spriteSize</key>
                <string>{105,153}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1253,1778},{105,153}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 6 7 2 3 4 0 1 4 1 2 4 0 5 7 0 4 5 9 10 11 8 9 11 13 14 15 12 13 15</string>
                <key>vertices</key>
                <string>105 137 71 153 0 153 0 79 54 75 71 60 79 0 105 0 42 2 39 2 39 0 42 0 2 2 0 2 0 0 2 0</string>
                <key>verticesUV</key>
                <string>1358 1915 1324 1931 1253 1931 1253 1857 1307 1853 1324 1838 1332 1778 1358 1778 1295 1780 1292 1780 1292 1778 1295 1778 1255 1780 1253 1780 1253 1778 1255 1778</string>
            </dict>
            <key>grid_up_1000@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39.5,39.5}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{412,1724},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 6 7 2 3 4 1 2 4 0 4 5 0 5 7 0 1 4</string>
                <key>vertices</key>
                <string>129 84 96 129 0 129 0 103 82 92 101 64 103 0 129 0</string>
                <key>verticesUV</key>
                <string>541 1808 508 1853 412 1853 412 1827 494 1816 513 1788 515 1724 541 1724</string>
            </dict>
            <key>grid_up_1001@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{26,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{754,1073},{26,208}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>129 208 103 208 103 0 129 0</string>
                <key>verticesUV</key>
                <string>780 1281 754 1281 754 1073 780 1073</string>
            </dict>
            <key>grid_up_1011@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51.5,27}</string>
                <key>spriteSize</key>
                <string>{105,154}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1081,1707},{105,154}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 6 7 5 1 4 1 2 3 1 3 4 5 0 1 0 5 6</string>
                <key>vertices</key>
                <string>133 54 148 71 208 79 208 153 131 154 103 130 103 0 129 0</string>
                <key>verticesUV</key>
                <string>1111 1761 1126 1778 1186 1786 1186 1860 1109 1861 1081 1837 1081 1707 1107 1707</string>
            </dict>
            <key>grid_up_1100@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{208,26}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1,1815},{208,26}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>208 129 0 129 0 103 208 103</string>
                <key>verticesUV</key>
                <string>209 1841 1 1841 1 1815 209 1815</string>
            </dict>
            <key>grid_up_1101@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-50.5}</string>
                <key>spriteSize</key>
                <string>{106,107}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1219,1782},{106,107}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 6 7 5 6 3 5 3 4 2 3 7 0 1 2 0 2 7</string>
                <key>vertices</key>
                <string>208 103 208 129 154 133 137 148 129 208 103 208 102 129 143 101</string>
                <key>verticesUV</key>
                <string>1325 1784 1325 1810 1271 1814 1254 1829 1246 1889 1220 1889 1219 1810 1260 1782</string>
            </dict>
            <key>grid_up_1110@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51.5,-51}</string>
                <key>spriteSize</key>
                <string>{105,106}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{871,1814},{105,106}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 6 7 4 5 6 0 4 7 1 2 3 0 1 3 0 3 4</string>
                <key>vertices</key>
                <string>105 145 105 208 79 208 75 154 60 137 0 129 0 103 77 102</string>
                <key>verticesUV</key>
                <string>976 1857 976 1920 950 1920 946 1866 931 1849 871 1841 871 1815 948 1814</string>
            </dict>
            <key>sound_off@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7.5,-7.5}</string>
                <key>spriteSize</key>
                <string>{211,213}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1202,1243},{211,213}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 6 7 4 5 6 0 4 6 2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>241 88 241 214 197 242 70 241 31 184 30 57 72 31 199 29</string>
                <key>verticesUV</key>
                <string>1413 1302 1413 1428 1369 1456 1242 1455 1203 1398 1202 1271 1244 1245 1371 1243</string>
            </dict>
            <key>sound_on@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7.5,-7.5}</string>
                <key>spriteSize</key>
                <string>{211,213}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1640,653},{211,213}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 6 7 4 5 6 0 4 6 2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>241 88 241 214 197 242 70 241 31 184 30 57 72 31 199 29</string>
                <key>verticesUV</key>
                <string>1851 712 1851 838 1807 866 1680 865 1641 808 1640 681 1682 655 1809 653</string>
            </dict>
            <key>title@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4.5,-16}</string>
                <key>spriteSize</key>
                <string>{777,790}</string>
                <key>spriteSourceSize</key>
                <string>{896,896}</string>
                <key>textureRect</key>
                <string>{{1,1},{777,790}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 11 12 9 10 11 3 6 8 3 5 6 6 7 8 2 3 8 3 4 5 9 0 2 2 8 9 0 1 2 0 9 12</string>
                <key>vertices</key>
                <string>753 71 792 88 841 154 841 788 821 826 778 859 157 857 115 838 69 762 71 170 64 163 87 96 142 69</string>
                <key>verticesUV</key>
                <string>690 3 729 20 778 86 778 720 758 758 715 791 94 789 52 770 6 694 8 102 1 95 24 28 79 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameScreenAssets.png</string>
            <key>size</key>
            <string>{1854,1932}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7b050664821a860ce15928668bbfe99:0083bcca5438d39a92871268a89898aa:a2eaa09529f0879ed3358c275268f50d$</string>
            <key>textureFileName</key>
            <string>gameScreenAssets.png</string>
        </dict>
    </dict>
</plist>
